
[user]
	email = <gregory.ostermayr@gmail.com>
	name = Gregory Ostermayr
  #signingkey = 4AAC743A6731895C

[color]
  ui = auto
[core]
	excludesfile = ~/.gitignore
[commit]
  #gpgsign = true
[rerere]
	enabled = true
[pull]
	ff = only
[init]
	defaultBranch = main

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  line-numbers = true
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = zenburn
  navigate = true

[interactive]
  diffFilter = delta --color-only
